:root {
  --background-color: #101020;
  --text-color: #f0f0e0;
  --length-unit: 1rem;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--length-unit);
}
