@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Kiwi Maru', 'Noto Sans JP', 'Hiragino Kaku Gothic', 'Yu Gothic', 'Meiryo', 'Arial',
		sans-serif;
	width: 100%;
}

button {
	font-family: 'Kiwi Maru', 'Noto Sans JP', 'Hiragino Kaku Gothic', 'Yu Gothic', 'Meiryo', 'Arial',
		sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
